doctype html
html(lang='en')
  include ../includes/head
  body
    nav#navbar.navbar.navbar-default
      .navbar-header
          button#navbar-toggle.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            | MEAN Introduction
            sup  1.0
        #nav-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/admin') Admin
            li
              a(href='/apps') Apps

    section.content
      section.container
        block content
    include ../includes/foot
