section
  h1 Admin
  .row
    .col-sm-6
      .panel.panel-primary
        .panel-heading
          h3.panel-title
            span.glyphicon.glyphicon-bookmark
            | Quick Shortcuts
        .panel-body
          .row
            .col-xs-6.col-md-6
              a.btn.btn-danger.btn-lg(href='#', role='button')
                span.glyphicon.glyphicon-list-alt
                br
                | Apps
              a.btn.btn-warning.btn-lg(href='#', role='button')
                span.glyphicon.glyphicon-bookmark
                br
                | Bookmarks
              a.btn.btn-primary.btn-lg(href='#', role='button')
                span.glyphicon.glyphicon-signal
                br
                | Reports
              a.btn.btn-primary.btn-lg(href='#', role='button')
                span.glyphicon.glyphicon-comment
                br
                | Comments
            .col-xs-6.col-md-6
              a.btn.btn-success.btn-lg(href='#', role='button')
                span.glyphicon.glyphicon-user
                br
                | Users
              a.btn.btn-info.btn-lg(href='#', role='button')
                span.glyphicon.glyphicon-file
                br
                | Notes
              a.btn.btn-primary.btn-lg(href='#', role='button')
                span.glyphicon.glyphicon-picture
                br
                | Photos
              a.btn.btn-primary.btn-lg(href='#', role='button')
                span.glyphicon.glyphicon-tag
                br
                | Tags
          a.btn.btn-success.btn-lg.btn-block(href='#', role='button')
            span.glyphicon.glyphicon-globe
            | Website

    .col-sm-6
      .panel.panel-default.widget
        .panel-heading
          span.glyphicon.glyphicon-comment
          h3.panel-title
            | Recent Comments
          span.label.label-info
            | 78
        .panel-body
          ul.list-group
            li.list-group-item
              .row
                .col-xs-2.col-md-1
                  img.img-circle.img-responsive(src='http://placehold.it/80', alt='')
                .col-xs-10.col-md-11
                  div
                    a(href='http://www.jquery2dotnet.com/2013/10/google-style-login-page-desing-usign.html')
                      | Google Style Login Page Design Using Bootstrap
                    .mic-info
                      | By:
                      a(href='#') Bhaumik Patel
                      | on 2 Aug 2013
                  .comment-text
                    | Awesome design
                  .action
                    button.btn.btn-primary.btn-xs(type='button', title='Edit')
                      span.glyphicon.glyphicon-pencil
                    button.btn.btn-success.btn-xs(type='button', title='Approved')
                      span.glyphicon.glyphicon-ok
                    button.btn.btn-danger.btn-xs(type='button', title='Delete')
                      span.glyphicon.glyphicon-trash
            li.list-group-item
              .row
                .col-xs-2.col-md-1
                  img.img-circle.img-responsive(src='http://placehold.it/80', alt='')
                .col-xs-10.col-md-11
                  div
                    a(href='http://bootsnipp.com/BhaumikPatel/snippets/Obgj') Admin Panel Quick Shortcuts
                    .mic-info
                      | By:
                      a(href='#') Bhaumik Patel
                      | on 11 Nov 2013
                  .comment-text
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    | euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                  .action
                    button.btn.btn-primary.btn-xs(type='button', title='Edit')
                      span.glyphicon.glyphicon-pencil
                    button.btn.btn-success.btn-xs(type='button', title='Approved')
                      span.glyphicon.glyphicon-ok
                    button.btn.btn-danger.btn-xs(type='button', title='Delete')
                      span.glyphicon.glyphicon-trash
            li.list-group-item
              .row
                .col-xs-2.col-md-1
                  img.img-circle.img-responsive(src='http://placehold.it/80', alt='')
                .col-xs-10.col-md-11
                  div
                    a(href='http://bootsnipp.com/BhaumikPatel/snippets/4ldn') Cool Sign Up
                    .mic-info
                      | By:
                      a(href='#') Bhaumik Patel
                      | on 11 Nov 2013
                  .comment-text
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    | euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                  .action
                    button.btn.btn-primary.btn-xs(type='button', title='Edit')
                      span.glyphicon.glyphicon-pencil
                    button.btn.btn-success.btn-xs(type='button', title='Approved')
                      span.glyphicon.glyphicon-ok
                    button.btn.btn-danger.btn-xs(type='button', title='Delete')
                      span.glyphicon.glyphicon-trash
          a.btn.btn-primary.btn-sm.btn-block(href='#', role='button')
            span.glyphicon.glyphicon-refresh
            | More



