section
  h1 Apps
  .row
    ul.thumbnails.list-unstyled
      li.col-sm-3
        .thumbnail(style='padding: 0;')
          div(style='padding: 4px;')
            img(alt='300x200', style='width: 100%;', src='http://placehold.it/200x150')
          .caption
            h2 Project A
            p My project description
            p
              i.icon.icon-map-marker
              | Place, Country
          .modal-footer(style='text-align: left;')
            .progress
              .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                span.sr-only 60% Complete
            .row
              .col-md-4
                b 60%
                br
                small FUNDED
              .col-md-4
                b $400
                br
                small PLEDGED
              .col-md-4
                b 18
                br
                small DAYS
      li.col-sm-3
        .thumbnail(style='padding: 0;')
          div(style='padding: 4px;')
            img(alt='300x200', style='width: 100%;', src='http://placehold.it/200x150')
          .caption
            h2 Project B
            p My project description
            p
              i.icon.icon-map-marker
              | Place, Country
          .modal-footer(style='text-align: left;')
            .progress
              .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 100%;')
                span.sr-only 60% Complete
            .row
              .col-md-4
                b 250%
                br
                small FUNDED
              .col-md-4
                b $50000
                br
                small PLEDGED
              .col-md-4
                b FUNDED
                br
                small AUG 5
      li.col-sm-3
        .thumbnail(style='padding: 0;')
          div(style='padding: 4px;')
            img(alt='300x200', style='width: 100%;', src='http://placehold.it/200x150')
          .caption
            h2 Project C
            p My project description
            p
              i.icon.icon-map-marker
              | Place, Country
          .modal-footer(style='text-align: left;')
            .progress
              .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 30%;')
                span.sr-only 60% Complete
            .row
              .col-md-4
                b 30%
                br
                small FUNDED
              .col-md-4
                b $1000
                br
                small PLEDGED
              .col-md-4
                b NOT FUNDED
                br
                small

