section(ng-controller='IndexController')
  h1 This is the home view !

  div(style='margin-top: 100px;')
    a(href='https://github.com/btford/angular-unicorn-directive', target='_blank')
      unicorn
      unicorn
      unicorn


